<!--============COMENTARIO==============-->
<div id="comentario-{{comment.id}}" class="box comentario">
    <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
                <img src="https://graph.facebook.com/v2.8/{{comment.user.facebook}}/picture?type=normal" alt="{{user.name}}">
            </figure>
        </div>
        <div class="media-content">
            <div class="content is-small">
                <p>
                    <strong>{{ comment.user.id == project.user.id ? '[&#9733;] ' : ''}}{{comment.user.name}}</strong> <small>{{comment.created_at|date("Y-m-d")}} - &hearts; <span class="likes-{{comment.id}}">{{comment.votes}}</span></small>
                    <br>
                    {{comment.content|emoji|nl2br}}
                </p>
            </div>
            <nav class="level is-mobile">
                <div class="level-left">
                    <a href="javascript:void(0)" data-comentarioid="{{comment.id}}" class="level-item responder">
                        <small>{{comment.replies|length}}</small>&nbsp;<span class="icon is-small"><i class="fa fa-reply"></i></span>
                    </a>
                    <a href="javascript:void(0)" data-comentarioid="{{comment.id}}" class="level-item votar-down votar-down-{{comment.id}}">
                        <span class="icon is-small"><i class="fa fa-thumbs-down"></i></span>
                    </a>
                    <a href="javascript:void(0)" data-comentarioid="{{comment.id}}" class="level-item votar-up votar-up-{{comment.id}}">
                        <span class="icon is-small"><i class="fa fa-heart"></i></span>
                    </a>
                </div>
            </nav>
        </div>
    </article>
       <article id="respuestas-{{comment.id}}" class="media respuestas">
        <div id="margin-respuestas-{{comment.id}}" class="media-left" style="{{comment.replies|length > 0 ? '' : 'display:none'}}">
            <figure class="image is-64x64">
            </figure>
        </div>
        <div class="media-content">
            <!--============RESPUESTAS==============-->
            {% include 'responder.html.twig' %}
            <!--============RESPUESTAS==============-->
            {% for reply in comment.replies %}
            {% include 'respuesta.html.twig' %}
            {% endfor %}
        </div>
    </article>
</div>
