{% extends 'master-white.html.twig' %}

{% block body %}
<section id="registrate" class="hero is-primary is-wizard is-fullheight">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <a href="{{path_for('homeGet')}}"><img class="logo-vg" src="{{base_url()}}/assets/img/ingenia-logo5.svg" alt=""></a>
                        <h1 class="title is-2 is-raleway is-700">¡Sumá tu proyecto a participar!</h1>
                    <h4 class="subtitle is-4 is-raleway">¡Participá con tu proyecto en la instancia de votación!</h4>
                    <div class="box">
                        <h2 class="is-3 is-raleway is-hidden-tablet"><a href="{{ facebook_login_link() }}" class="button is-info is-400 is-raleway"><span class="icon"><i class="fa fa-facebook"></i></span>&nbsp;&nbsp;Continuar con Facebook</a></h2>
                        <h2 class="title is-3 is-raleway is-hidden-mobile"><a href="{{ facebook_login_link() }}" class="button is-info is-400 is-medium is-raleway"><span class="icon"><i class="fa fa-facebook"></i></span>&nbsp;&nbsp;Continuar con Facebook</a></h2>
                    </div>
                    <p>Registrate en la plataforma, agregale una imagen a tu proyecto, y ya estas participando en la votación popular junto con otros proyectos. ¡Luego queda en en vos difundir y ganar muchos votos!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a href="http://www.virtuagora.org"><img src="{{base_url()}}/assets/img/logo-virtuagora-comic.svg" alt=""></a></li>
          <li><a href="https://web.facebook.com/GabineteJoven"><img src="{{base_url()}}/assets/img/gabinetejoven-comic.svg" alt=""></a></li>
          <li><a href="http://www.santafe.gob.ar/index.php/web/content/view/full/114387/"><img src="{{base_url()}}/assets/img/ingenia-logo5.svg" alt=""></a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
{% endblock %}
