{% extends 'master-white.html.twig' %}

{% block body %}
<section id="registrate" class="hero is-primary is-wizard is-fullheight">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-multiline">
                <div class="column is-half is-offset-one-quarter">
                    <a href="{{path_for('homeGet')}}"><img class="logo-vg" src="{{base_url()}}/assets/img/ingenia-logo5.svg" alt=""></a>
                    <h1 class="title is-2 is-raleway is-700">¡Convocatoria cerrada!</h1>
                    <h4 class="subtitle is-4 is-raleway">La convocatoria de proyectos se encuentra cerrada.<br>¿Consultas? Comunicate a <u>ingenia@santafe.gob.ar</u></h4>
                </div>
                <div class="column is-half is-offset-one-quarter">
                    <p><a href="{{path_for('homeGet')}}" class="button is-large is-outlined is-primary">Volver al inicio</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a href="http://www.virtuagora.org"><img src="{{base_url()}}/assets/img/logo-virtuagora-comic.svg" alt=""></a></li>
          <li><a href="https://web.facebook.com/GabineteJoven"><img src="{{base_url()}}/assets/img/gabinetejoven-comic.svg" alt=""></a></li>
          <li><a href="http://www.santafe.gob.ar/index.php/web/content/view/full/114387/"><img src="{{base_url()}}/assets/img/ingenia-logo5.svg" alt=""></a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
{% endblock %}
