{% extends 'master.html.twig' %}

{% block body %}
<section id="home-header" class="hero is-primary is-bold is-small">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container">
            <div class="">
                <img src="{{base_url()}}/assets/img/ingenia-logo5.svg" class="logo image" alt="">
            </div>
            {#
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Proyectos que participan</p>
                        <p class="title">3,456</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Usuarios que bancan!</p>
                        <p class="title">123</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Votos contados</p>
                        <p class="title">456K</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Dias restantes</p>
                        <p class="title">789</p>
                    </div>
                </div>
            </nav>
            #}
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <a href="{{path_for('proLoadGet')}}" class="button is-primary is-focused is-large is-hidden-mobile is-inverted is-fullwidth">Registrá tu proyecto</a>
                    <a href="{{path_for('proLoadGet')}}" class="button is-primary is-focused is-hidden-tablet is-inverted is-fullwidth">Registrá tu proyecto</a>
                </div>
            </div>

        </div>
    </div>

</section>

<section id="home-pattern" class="section">
    <div class="container-fluid">
        <nav class="level">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <div class="field has-addons">
                        <p class="control">
                            <input name="stringquery" class="input" type="text" placeholder="Grupo o proyecto..">
                        </p>
                        <p class="control">
                            <button id="buscarString" class="button is-primary">
                                Buscar
                            </button>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
                <p class="level-item">
                    <a href="javascript:void(0)" data-orden="0" id="orden-fecha" class="button is-primary is-outlined"><span class="icon is-small"><i class="fa fa-sort-amount-asc"></i></span> &nbsp;&nbsp;Fecha</a></p>
                <p class="level-item is-hidden">
                    <a href="javascript:void(0)" data-orden="0" id="orden-likes" class="button is-primary is-outlined">
                        <span class="icon is-small"><i class="fa fa-sort-amount-desc"></i></span>
                        &nbsp;&nbsp;Votos
                    </a>
                </p>
                <div class="level-item">
                    <div class="field">
                        <p class="control">
                            <span class="select">
                                <select id="selectLocalidad">
                                    <option value="all" selected="selected">Todas las localidades</option>
                                    {% for localidad in places() %}
                                    <option value="{{localidad}}" >{{localidad|capitalize}}</option>
                                    {% endfor %}
                                </select>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="level-item">
                    <div class="field">
                        <p class="control">
                            <span class="select">
                                <select id="selectCategoria">
                                    <option value="all" selected="selected">Todas las temáticas</option>
                                    <option value="social">Integración Social</option>
                                    <option value="ambiente">Medio Ambiente</option>
                                    <option value="deporte">Deporte y Recreación</option>
                                    <option value="educacion">Educación</option>
                                    <option value="cultura">Cultura</option>
                                    <option value="empleo">Empleo y capacitacion</option>
                                    <option value="comunicacion">Comunicación</option>
                                    <option value="salud">Salud</option>
                                </select>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>
<section id="listado" class="section">
    <div class="container is-fluid">
        <a id="ejecutando" class="button is-loading is-large is-fullwidth" style="display:none;">Loading</a>
        <div id="error" class="notification is-danger has-text-centered" style="display:none">
            <span  class="icon is-large"><i class=" fa fa-times-circle"></i></span>
            <h4 class="subtitle is-5 is-raleway">Error al obtener los proyectos</h4>
        </div>
        <div id="vacio" class="notification is-info has-text-centered" style="display:none">
            <span  class="icon is-large"><i class=" fa fa-info-circle"></i></span>
            <h4 class="subtitle is-5 is-raleway">¡No se encontró ningun proyecto!</h4>
            <h4 class="subtitle is-6 is-raleway"><i>¿Y sí participás con uno? &hearts;</i></h4>
        </div>
        <div class="grid proyectos">
        </div>
        <br>
        <div id="fin-contenidos" class="notification is-localhost has-text-centered" style="display:none">
            <span  class="icon is-large"><i class=" fa fa-flag-checkered"></i></span>
            <h4 class="subtitle is-5 is-raleway">Fin de los proyectos</h4>
        </div>
        <div class="columns paginacion">
            <div class="column is-6 is-offset-3">
                <a id="cargar-mas" href="javascript:buscarMasContenido()" class="button is-primary is-medium is-outlined is-fullwidth" style="display:none;">Cargar mas proyectos</a>
            </div>
        </div>
    </div>
</section>
<section id="logos-nosotros" class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-centered">
                    <a href="http://virtuagora.org">
                        <img src="{{base_url()}}/assets/img/logo-virtuagora-comic.svg" class="image logo"alt="">
                    </a>
                </div>
                <div class="column has-text-centered">
                    <a href="https://web.facebook.com/GabineteJoven">
                        <img src="{{base_url()}}/assets/img/gabinetejoven-comic.svg" class="image logo" alt="">
                    </a>
                </div>
                <div class="column has-text-centered">
                    <a href="http://www.santafe.gob.ar/index.php/web/content/view/full/114387/">
                        <img src="{{base_url()}}/assets/img/ingenia-logo5.svg" class="image logo" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                Trabajo realizado en conjunto con <a href="http://www.virtuagora.org"><strong>Virtuágora</strong></a> e <a href="http://www.santafe.gob.ar/index.php/web/content/view/full/114387/"><strong>Ingenia</strong></a> del <a href="https://web.facebook.com/GabineteJoven"><strong>Gabinete Joven</strong></a><br>Virtuágora se distruye bajo licencia
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            </p>
            <p>
                <a href="https://www.santafe.gob.ar">
                    <img src="{{base_url()}}/assets/img/santafelogo-dark.svg" class="image is-128x128 logo-santafe" alt="">
                </a>
            </p>
        </div>
    </div>
</footer>
<input id="csrf_name" type="hidden" name="{{csrf.key}}" value="{{csrf.value}}">
{% endblock %}
{% block javascript %}
<script id="block-vacio" type = "text/template">
{% include 'block-proyecto.html.twig' %}
</script>
<script src="{{base_url()}}/assets/js/masonry.pkgd.min.js"></script>
<script>
    var baseUrl = '{{base_url()}}';
    var link = null;

    $(document).ready(function(){
        $('.grid').masonry({
            // options
            itemSelector: '.grid-item',
        });
        makeQuery();
    });

    $('#buscarString').on('click', function() {
        makeQuery();
    })

    $('#selectLocalidad').on('change', function() {
        makeQuery();
    })

    $('#selectCategoria').on('change', function() {
        makeQuery();
    })

    $('.grid').masonry({
        // options
        itemSelector: '.grid-item',
    });

    $('#orden-likes').click(function() {
        var orden = $('#orden-likes').data('orden');
        if( orden == 1 ){
            console.log(orden)
            $('#orden-likes').removeClass('is-outlined');
            $('#orden-likes').data('orden',-1);
            $('#orden-fecha').data('orden',0);
            $('#orden-fecha').addClass('is-outlined');
            $('#orden-fecha span i').removeClass().addClass('fa fa-sort-amount-asc');
            $('#orden-likes span i').toggleClass('fa-sort-amount-asc fa-sort-amount-desc');
            makeQuery();
        } else if( orden == -1 ) {
            console.log(orden)
            $('#orden-likes').removeClass('is-outlined');
            $('#orden-likes').data('orden',1);
            $('#orden-fecha').data('orden',0);
            $('#orden-fecha').addClass('is-outlined');
            $('#orden-fecha span i').removeClass().addClass('fa fa-sort-amount-asc');
            $('#orden-likes span i').toggleClass('fa-sort-amount-asc fa-sort-amount-desc');
            makeQuery();
        } else {
            console.log(orden)
            $('#orden-fecha').data('orden',0);
            $('#orden-fecha').addClass('is-outlined');
            $('#orden-fecha span i').removeClass().addClass('fa fa-sort-amount-asc');
            $('#orden-likes').removeClass('is-outlined');
            $('#orden-likes').data('orden',-1);
            makeQuery();
        }
    });

    $('#orden-fecha').click(function() {
        var orden = $('#orden-fecha').data('orden');
        if( orden == 1 ){
            console.log(orden)
            $('#orden-fecha').removeClass('is-outlined');
            $('#orden-fecha').data('orden',-1);
            $('#orden-likes').data('orden',0);
            $('#orden-likes').addClass('is-outlined');
            $('#orden-likes span i').removeClass().addClass('fa fa-sort-amount-desc');
            $('#orden-fecha span i').toggleClass('fa-sort-amount-asc fa-sort-amount-desc');
            makeQuery();
        } else if( orden == -1 ) {
            console.log(orden)
            $('#orden-fecha').removeClass('is-outlined');
            $('#orden-fecha').data('orden',1);
            $('#orden-likes').data('orden',0);
            $('#orden-likes').addClass('is-outlined');
            $('#orden-likes span i').removeClass().addClass('fa fa-sort-amount-desc');
            $('#orden-fecha span i').toggleClass('fa-sort-amount-asc fa-sort-amount-desc');
            makeQuery();
        } else {
            console.log(orden)
            $('#orden-likes').data('orden',0);
            $('#orden-likes').addClass('is-outlined');
            $('#orden-likes span i').removeClass().addClass('fa fa-sort-amount-desc');
            $('#orden-fecha').removeClass('is-outlined');
            $('#orden-fecha').data('orden',1);
            makeQuery();
        }
    });

    function parseLinkHeader(header) {
        var links = {};
        if (header) {
            var parts = header.split(', ');
            for (var i=0; i<parts.length; i++) {
                var section = parts[i].split('; ');
                if (section.length == 2) {
                    var url = section[0].replace(/<(.*)>/, '$1').trim();
                    var name = section[1].replace(/rel="(.*)"/, '$1').trim();
                    links[name] = url;
                }
            }
        }
        return links;
    }

    function refreshPaginator(links) {
        $('#nav-first').hide().off("click");
        $('#nav-prev').hide().off("click");
        $('#nav-next').hide().off("click");
        $('#nav-last').hide().off("click");
        for (var nav in links) {
            $('#nav-'+nav).show().on("click", {url: links[nav]}, startGetRequest);
        }
    }

    function revisarMasBloques() {
        if( link['next'] != undefined ){
            $('#cargar-mas').show();
        } else {
            $('#fin-contenidos').show();
        }
    }

    function buscarMasContenido() {
        $('#cargar-mas').hide();
        enviarSolicitud( link['next'] );
    }
    function makeQuery(){
        var query = new Array();
        //var where_value = new Array();
        // Por tematica
        query.push({name:'endless', value:'true'});
        // Por localidad
        var categoria = $('#selectCategoria').val();
        if(categoria != 'all'){
            query.push({name:'categoria', value:categoria});
        }
        // Por localidad
        var localidad = $('#selectLocalidad').val();
        if( localidad != 'all'){
            query.push({name:'localidad', value:localidad});
        }
        // Ordenar por fecha
        var orden_fecha = $('#orden-fecha').data('orden');
        if(orden_fecha == 1){
            query.push({name:'sort', value:'created_at'});
        } else if(orden_fecha == -1) {
            query.push({name:'sort', value:'-created_at'});
        } else if(orden_fecha == 0) {
            query.push({name:'sort', value:'-created_at'});
        }
        // Ordenar por likes
        var orden_likes = $('#orden-likes').data('orden');
        if(orden_likes == 1){
            query.push({name:'sort', value:'likes'});
        } else if(orden_likes == -1){
            query.push({name:'sort', value:'-likes'});
        }
        // Por string
        var string = $('input[name="stringquery"]').val();
        if( string != ''){
            query.push({name:'s', value:string});
        }
        //query.push({name:'take', value:'10'});
        //        if(where_value.length > 0){
        //            query.push({name:'where', value: where_value.join()});
        //        }
        $(".proyectos").empty();
        $('.proyectos').masonry( 'reloadItems' );
        $('.proyectos').masonry( 'layout' );
        enviarSolicitud(baseUrl + '/proyecto?' + jQuery.param(query) );
    }

    function crearBrick(contenido){
        var $brick = $('#block-vacio').html();
        $brick = $brick.replace("##VOTOS##", contenido.likes)
            .replace(new RegExp('##BASEURL##', 'g'), baseUrl)
            .replace(new RegExp('##CATEGORY##', 'g'), ''    + contenido.category )
            .replace(new RegExp('##PROYECTOLINK##', 'g'), baseUrl + '/proyecto/' + contenido.id)
            .replace(new RegExp('##USUARIOIMG##', 'g'), 'https://graph.facebook.com/v2.8/' + contenido.user.facebook + '/picture?type=normal')
            .replace(new RegExp('##PROYECTONOMBRE##', 'g'), contenido.name)
            .replace(new RegExp('##GRUPO##', 'g'), contenido.group)
        switch(contenido.category) {
            case 'social':
                $brick = $brick.replace(new RegExp('##CATEGORIANOMBRE##', 'g'),'Integración Social');
                break;
            case 'educacion':
                $brick = $brick.replace(new RegExp('##CATEGORIANOMBRE##', 'g'),'Educación');
                break;
            case 'comunicacion':
                $brick = $brick.replace(new RegExp('##CATEGORIANOMBRE##', 'g'),'Comunicación');
                break;
            case 'ambiente':
                $brick = $brick.replace(new RegExp('##CATEGORIANOMBRE##', 'g'),'Medio Ambiente');
                break;
            case 'cultura':
                $brick = $brick.replace(new RegExp('##CATEGORIANOMBRE##', 'g'),'Cultura');
                break;
            case 'salud':
                $brick = $brick.replace(new RegExp('##CATEGORIANOMBRE##', 'g'),'Salud');
                break;
            case 'deporte':
                $brick = $brick.replace(new RegExp('##CATEGORIANOMBRE##', 'g'),'Deporte y recreación');
                break;
            case 'empleo':
                $brick = $brick.replace(new RegExp('##CATEGORIANOMBRE##', 'g'),'Empleo y Capacitación');
                break;
            default:
                break;
                                 }
        if(contenido.has_image){
            $brick = $brick.replace(new RegExp('##IMAGENURL##', 'g'),baseUrl+'/img/project/'+contenido.id+'.jpg');
            $brick = $brick.replace(new RegExp('##DIMENSION##', 'g'),'4by3');
        } else {
            $brick = $brick.replace(new RegExp('##IMAGENURL##', 'g'),baseUrl+'/assets/img/placeholder-proyecto.png');
            $brick = $brick.replace(new RegExp('##DIMENSION##', 'g'),'16by9');
        }
        $(".proyectos").append($brick);
    }

    function enviarSolicitud(query){
        $('#ejecutando').show();
        //$('#cargar-mas').hide();
        //$('#control-paginas').hide();
        $('#vacio').hide();
        $('#fin-contenidos').hide();
        $('#error').hide();
        var request = $.ajax({
            url: query,
            pageSize: 10,
            cache: false,
            dataType: "json"
        }).done(function(resultados, textStatus, request) {
            link = parseLinkHeader(request.getResponseHeader('link'));
            $('#ejecutando').hide();
            if(resultados.length > 0){
                shuffle(resultados);
                for (i = 0; i < resultados.length; i++) {
                    crearBrick(resultados[i]);
                }
                $('.proyectos').masonry( 'reloadItems' );
                $('.proyectos').masonry( 'layout' );
                revisarMasBloques();
            } else {
                $('#ejecutando').hide();
                $('#vacio').show();
            }
        }).fail(function(jqXHR, textStatus) {
            $('#ejecutando').hide();
            $('#error').show();
        });
    }

    function shuffle(sourceArray) {
        for (var i = 0; i < sourceArray.length - 1; i++) {
            var j = i + Math.floor(Math.random() * (sourceArray.length - i));

            var temp = sourceArray[j];
            sourceArray[j] = sourceArray[i];
            sourceArray[i] = temp;
        }
        return sourceArray;
    }
</script>
{% endblock %}
