<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block titulo %}Ingenia 8 - Bancamos tus ideas{% endblock %}</title>
        {% block opengraph %}
        <meta property="og:url" content="{{base_url()}}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="¡Participá y bancá los proyectos de INGENIA 8!" />
        <meta property="og:description" content="Ingenia, es un programa provincial desarrollado por el Gabinete Joven y la Secretaría de Juventudes cuyo objetivo principal es promover la participación juvenil de grupos, colectivos y organizaciones de jóvenes, a través del financiamiento y acompañamiento para la puesta en marcha de sus ideas" />
        <meta property="og:image" content="{{base_url()}}/assets/img/sharer-ingenia.png" />
        {% endblock %}
        <link rel="shortcut icon" href="{{base_url()}}/assets/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{base_url()}}/assets/favicon.ico" type="image/x-icon">
        <link href="{{base_url()}}/assets/css/ingenia.css" rel="stylesheet">
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-73061346-4', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <a class="float-img" href="https://www.santafe.gob.ar">
            <img src="{{base_url()}}/assets/img/santafelogo.svg" alt="">
        </a>
        {% if user is not null %}
        <a class="float-img is-avatar" href="javascript:void(0)">
            <img class="image" src="https://graph.facebook.com/v2.8/{{user.facebook}}/picture?type=normal" alt="{{user.name}}">
        </a>
        <a class="float-img is-logout" href="javascript:salir()">
            <img class="image" src="{{base_url()}}/assets/img/logout.svg" alt="">
        </a>
        {% else %}
        <a class="float-img is-login" href="{{facebook_login_link()}}">
            <img class="image" src="{{base_url()}}/assets/img/login.svg" alt="">
        </a>
        {% endif %}
        <div id="modal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="notification has-text-centered">
                    <span  class="icon is-large"><i id="fa-modal" class=""></i></span>
                    <h4 id="subtitle-modal" class="subtitle is-5 is-raleway"></h4>
                </div>
            </div>
            <button class="modal-close"></button>
        </div>
        {% if user is not null %}
        <form id="salir" action="{{path_for('logoutPost')}}" method="POST">
            <input id="csrf_name" type="hidden" name="{{csrf.key}}" value="{{csrf.value}}">
        </form>
        {% endif %}
        {% block body %}
        {% endblock %}
        <!-- jQuery (necessary for some stuff!) -->
        <script src="{{base_url()}}/assets/js/jquery-3.2.0.min.js"></script>
        <script>
            $('.modal-background, .modal-close').click(function() {
                // $('html').removeClass('is-clipped');
                $(this).parent().removeClass('is-active');
                $('.modal .notification').removeClass('is-success');
                $('.modal .notification').removeClass('is-danger');
                $('.modal .notification').removeClass('is-info');
            });
            $('.modal-card-head .delete, .modal-card-foot .button').click(function() {
                // $('html').removeClass('is-clipped');
                $('#modal-ter').removeClass('is-active is-success is-danger is-info');
                $('.#modal-ter .notification').removeClass('is-success');
                $('.#modal-ter .notification').removeClass('is-danger');
                $('.#modal-ter .notification').removeClass('is-info');
            });
            $(document).on('keyup',function(e) {
                if (e.keyCode == 27) {
                    //$('html').removeClass('is-clipped');
                    $('.modal').removeClass('is-active');
                    $('.modal .notification').removeClass('is-success');
                    $('.modal .notification').removeClass('is-danger');
                    $('.modal .notification').removeClass('is-info');
                }
            });
            function showModalSuccess(mensaje) {
                $("#fa-modal").removeClass().addClass('fa fa-check-circle')
                $("#subtitle-modal").html(mensaje);
                //$('html').addClass('is-clipped');
                $('.modal').addClass('is-success is-active');
                $('.modal .notification').addClass('is-success is-active');
            }
            function showModalDanger(mensaje) {
                $("#fa-modal").removeClass().addClass('fa fa-times-circle')
                $("#subtitle-modal").html(mensaje);
                //$('html').addClass('is-clipped');
                $('.modal').addClass('is-danger is-active');
                $('.modal .notification').addClass('is-danger');
            }
            function showModalInfo(mensaje) {
                $("#fa-modal").removeClass().addClass('fa fa-info-circle')
                $("#subtitle-modal").html(mensaje);
                //$('html').addClass('is-clipped');
                $('.modal').addClass('is-active');
                $('.modal .notification').addClass('is-info');
            }
            function salir(){
                $('form#salir').submit();
            }
        </script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>
