<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block titulo %}Ingenia 2017{% endblock %}</title>
        {% block opengraph %}
        <meta property="og:url" content="{{ base_url }}" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="¡Participá y bancá los proyectos INGENIA 2017!" />
        <meta property="og:description" content="Descripcion Ingenia Virtuagora" />
        <meta property="og:image" content="{{ base_url }}/assets/img/sharer.png" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ base_url }}/assets/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ base_url }}/assets/favicon.ico" type="image/x-icon">
        <link href="../assets/css/ingenia.css" rel="stylesheet">
    </head>
    <body>
        <a href="#" class="boton-bancar is-cat{{categoria}}">
            {% include 'muscle.html.twig' %}
        </a>
        <!--
<a class="float-img is-login" href="www.google.com">
<img class="image" src="../assets/img/login.svg" alt="">
</a>
-->
        {% block body %}
        {% endblock %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="../assets/js/jquery-3.2.0.min.js"></script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>
