{% set categoria = project.category %}
{% set share_link = path_for('proViewGet', { 'pro': project.id }) %}
{% set twitter_txt = 'Yo banco el proyecto "' ~ project.name ~ '" de Ingenia 2017 ¡Bancalo!' %}
{% extends 'master-nofloat.html.twig' %}
{% block titulo %}{{project.name}} - INGENIA - Bancamos tus ideas {% endblock %}
{% block opengraph %}
<meta property="og:url" content="path_for('proViewGet', { 'pro': project.id })" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{project.name}} - Ingenia, bancamos tus ideas" />
<meta property="og:description" content="{{project.description}}" />
{% if project.has_image == true %}
<meta property="og:image" content="{{ base_url() }}/img/project/{{project.id}}.jpg" />
{% else %}
<meta property="og:image" content="{{ base_url() }}/assets/img/sharer-{{project.category}}.png" />
{% endif %}
{% endblock %}
{% block body %}
<section id="proyecto" class="hero is-{{categoria}} is-small">
    <!-- Hero content: will be in the middle -->
    <div class="hero-head">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <a href="{{path_for('homeGet')}}" class="nav-item">
                        <img src="{{base_url()}}/assets/img/ingenia-logo5.svg" alt="Logo">
                    </a>
                    {% if user is not null %}
                    <a href="javascript:void(0)" class="nav-item is-hidden-tablet" title="Mi foto!">
                        <img class="image avatar" src="https://graph.facebook.com/v2.8/{{user.facebook}}/picture?type=normal" alt="{{user.name}}">
                    </a>
                    <a href="javascript:salir()" class="nav-item is-hidden-tablet" title="Cerrar sesión">
                        <img class="image" src="{{base_url()}}/assets/img/logout.svg" alt="">
                    </a>
                    {% if user.id == project.user.id %}
                    <a href="{{path_for('proSetImgGet',{ 'pro': project.id })}}" class="nav-item is-hidden-tablet" title="Cambiar imagen del proyecto">
                        <img src="{{base_url()}}/assets/img/cambiar-imagen-icon.svg" alt="">
                    </a>
                    {% endif %}
                    {% else %}
                    <a href="{{facebook_login_link()}}" class="nav-item is-hidden-tablet" title="Iniciar sesión">
                        <img class="image" src="{{base_url()}}/assets/img/login.svg" alt="">
                    </a>
                    {% endif %}
                    <a href="https://www.santafe.gob.ar" class="nav-item is-hidden-tablet">
                        <img src="{{base_url()}}/assets/img/santafelogo.svg" alt="">
                    </a>
                </div>
                <div class="nav-right is-hidden-mobile">
                    {% if user is not null %}
                    <a href="javascript:void(0)" class="nav-item" title="Mi foto!">
                        <img class="image avatar" src="https://graph.facebook.com/v2.8/{{user.facebook}}/picture?type=normal" alt="{{user.name}}">
                    </a>
                    <a href="javascript:salir()" class="nav-item" title="Cerrar sesión">
                        <img class="image" src="{{base_url()}}/assets/img/logout.svg" alt="">
                    </a>
                    {% if user.id == project.user.id %}
                    <a href="{{path_for('proSetImgGet',{ 'pro': project.id })}}" class="nav-item" title="Cambiar imagen del proyecto">
                        <img src="{{base_url()}}/assets/img/cambiar-imagen-icon.svg" alt="">
                    </a>
                    {% endif %}
                    {% else %}
                    <a href="{{facebook_login_link()}}" class="nav-item" title="Iniciar sesión">
                        <img class="image" src="{{base_url()}}/assets/img/login.svg" alt="">
                    </a>
                    {% endif %}
                    <a href="https://www.santafe.gob.ar" class="nav-item is-active">
                        <img src="{{base_url()}}/assets/img/santafelogo.svg" alt="">
                    </a>
                </div>
            </div>
        </header>
    </div>
    <div id="proyecto-datos" class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="has-text-centered">
                        <h1 class="title is-5 is-white is-300"><span class="tag is-white">{{category_name(project.category)}}</span>&nbsp;&nbsp;&nbsp;
                            <span class="icon is-middle"><i class="fa fa-comments"></i></span>&nbsp;&nbsp;&nbsp;{{project.comments|length}} comentarios</h1>
                        <h1 class="title titulo-proyecto is-1 is-500 is-raleway is-white">{{project.name}}</h1>

                    </div>
                    <div class="box content">
                        <div class="columns">
                            <div class="column is-half is-offset-one-quarter has-text-centered">
                                {% if project.has_image %}
                                <figure class="imagen-proyecto image is-16by9" style="background-image: url({{base_url()}}/img/project/{{project.id}}.jpg)">
                                </figure>
                                {% else %}
                                <figure class="imagen-proyecto image is-16by9" style="background-image: url({{base_url()}}/assets/img/placeholder-proyecto.png)">
                                </figure>
                                {% endif %}
                                <h1 class="subtitle is-5 is-raleway has-text-centered">Presentado por "{{project.group}}"</h1>
                                <h1 class="title is-6 is-raleway has-text-centered" style="margin-top: -1rem;"><img src="https://graph.facebook.com/v2.8/{{project.user.facebook}}/picture?type=normal" class="image is-24x24"  class="image is-24x24" alt="" style="display: inline-block;vertical-align: middle;"> {{project.user.name}}</h1>
                            </div>
                        </div>
                        <h1 class="title is-3 is-raleway is-800">Resumen del proyecto</h1>
                        <p>
                            {{project.description|nl2br}}
                        </p>
                        <h1 class="title is-3 is-raleway is-800">Fundamentación</h1>
                        <p>
                            {{project.foundation|nl2br}}
                        </p>
                    </div>

                    <div class="tile is-ancestor">
                        <div class="tile is-vertical is-12">
                            <div class="tile">
                                <div class="tile is-parent">
                                    <div class="tile is-child card">
                                        <header class="card-header">
                                            <p class="card-header-title title is-marginless is-5 is-300">
                                                Calendario de actividades
                                            </p>
                                            <a id="toggle-calendario" class="card-header-icon">
                                                <span class="icon">
                                                    <i class="fa fa-angle-down"></i>
                                                </span>
                                            </a>
                                        </header>
                                        <div id="calendario" class="card-content" style="display:none">
                                            <div class="content">
                                                <table class="table is-striped is-narrow is-marginless">
                                                    <thead>
                                                        <tr>
                                                        <tr>
                                                            <th>Fecha</th>
                                                            <th>Actividad</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for evento in project.schedule %}
                                                        <tr>
                                                            <td>{{ evento.dia }}</td>
                                                            <td>{{ evento.actividad }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tile">
                                <div class="tile is-parent">
                                    <div class="tile is-child card">
                                        <header class="card-header">
                                            <p class="card-header-title title is-marginless is-5 is-300">
                                                Descripción del presupuesto
                                            </p>
                                            <a id="toggle-presupuesto" class="card-header-icon">
                                                <span class="icon">
                                                    <i class="fa fa-angle-down"></i>
                                                </span>
                                            </a>
                                        </header>
                                        <div id="presupuesto" class="card-content" style="display:none">
                                            <div class="content">
                                                <table class="table is-striped is-narrow is-marginless">
                                                    <thead>
                                                        <tr>
                                                        <tr>
                                                            <th>Rubro</th>
                                                            <th>Descripcion</th>
                                                            <th>Monto estimado</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in project.budget %}
                                                        <tr>
                                                            <td>{{ item.rubro }}</td>
                                                            <td>{{ item.descripcion }}</td>
                                                            <td>{{ item.monto }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tile">
                                <div class="tile is-parent is-6">
                                    <article class="tile is-child notification is-warning has-text-centered">
                                        <p class="subtitle is-300">Presupuesto</p>
                                        <p class="title is-2 is-800">${{project.total_budget}}</p>
                                    </article>
                                </div>
                                <div class="tile is-parent">
                                    <article class="tile is-child notification is-white has-text-centered">
                                        <p class="subtitle is-300">Lugar de implementación</p>
                                        <p class="title is-800">{{project.place}}</p>
                                    </article>
                                </div>
                            </div>
                            <div class="tile">
                                <div class="tile is-parent {{project.execution != null ? 'is-4' : ''}}">
                                    <article class="tile is-child notification is-white has-text-centered">
                                        <p class="subtitle is-300">¿El proyecto ya está en ejecución o funcionamiento?</p>
                                        <p class="title is-400 ">{{project.execution != null ? 'SI' : 'NO'}}</p>
                                    </article>
                                </div>
                                {% if project.execution != null %}
                                <div class="tile is-parent">
                                    <article class="tile is-child notification is-white has-text-centered">
                                        <p class="subtitle is-300">¿De qué forma, como y donde se está ejecutando?</p>
                                        <p>{{project.execution}}</p>
                                    </article>
                                </div>
                                {% endif %}
                            </div>
                            <div class="tile">
                                <div class="tile is-parent">
                                    <article class="tile is-child notification is-white has-text-centered">
                                        <p class="subtitle is-300">¿Las actividades se realizarán en coordinación con otras organizaciones y/o instituciones?</p>
                                        <p class="title is-3">
                                            {% if project.organization != null %}
                                            <b>SI</b> - Organización "{{project.organization}}"
                                            {% else %}
                                            <b>NO</b>
                                            {% endif %}
                                        </p>
                                    </article>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% if user is not null %}
                    <div id="crear-nuevo-comentario" class="box" >
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://graph.facebook.com/v2.8/{{user.facebook}}/picture?type=normal" alt="{{user.name}}">
                                </figure>
                            </div>
                            <div class="media-content">
                                <form action="" class="comentario" method="POST" data-type="new-comment" data-commentid="0">
                                    <div class="content is-small">
                                        <strong>{{user.name}}</strong>
                                        <div class="field">
                                            <p class="control">
                                                <textarea name="content" class="textarea is-small" placeholder="Tu comentario"></textarea>
                                            </p>
                                        </div>
                                    </div>
                                    <nav class="level is-mobile">
                                        <div class="level-left">
                                            <button type="submit" class="level-item button is-primary is-small">
                                                <span class="icon is-small"><i class="fa fa-send"></i></span>&nbsp;&nbsp;Enviar
                                            </button>
                                        </div>
                                    </nav>
                                    <input type="hidden" name="{{csrf.key}}" value="{{csrf.value}}">
                                    <input type="hidden" name="{{csrf.keys.value}}" value="{{csrf.value}}">
                                </form>
                            </div>
                        </article>
                    </div>
                    {% else %}
                    <div class="notification has-text-centered is-warning">
                        <p class="subtitle is-4 is-300">¡Participá comentando y aportando nuevas ideas!<p>
                        <a href="{{facebook_login_link()}}" class="button is-dark is-fullwidth is-outlined is-large is-800">Iniciá sesión en&nbsp;&nbsp;<span class="icon"><i class="fa fa-facebook-square"></i></span>&nbsp;&nbsp;Facebook</a>
                    </div>
                    {% endif %}
                    <div id="comentarios">
                        {% for comment in project.comments %}
                        {% include 'comentario.html.twig' %}
                        {% endfor %}
                    </div>
                    <!--
<br>
<a href="javascript:void(0)" id="mas-comentarios" class="button is-large is-fullwidth is-dark is-outlined is-inverted">Cargar mas comentarios</a>
-->
                    <br>
                    <a href="javascript:void(0)" id="fin-comentarios" class="button is-large is-disabled is-fullwidth is-white">Fin de los comentarios</a>
                </div>
                <div class="column is-narrow">
                    <div class="boxes" style="width: 150px;">
                        <div class="child has-text-centered" style="width: 150px;">
                            <div class="">
                                <a href="javascript:void(0)" class="boton-bancar-proyecto boton-bancar-tablet">
                                    {% include 'muscle.html.twig' %}
                                </a>
                            </div>
                            <div class="">
                                <h1 class="title is-600 is-white contador-bancan">{{ project.likes }}</h1>
                                <h1 class="subtitle is-raleway is-white">bancan esta idea</h1>
                                <span class="tag is-white user-lo-banca {{voted ? : 'is-hidden'}}" >¡Vos también!&nbsp;<span class="icon is-small"><i class="fa fa-smile-o fa-fw"></i></span></span>
                                <hr>
                                <h1 class="subtitle is-white is-5 is-600">¡Corré la voz!</h1>
                            </div>
                            <div>
                                <a href="https://www.facebook.com/sharer.php?u={{base_url()}}{{ share_link }}" target="_blank" class="boton-social">
                                    <span class="icon is-large"><i class="fa fa-facebook-square"></i></span>
                                </a>
                            </div>
                            <div>
                                <a href="https://twitter.com/share?text={{ twitter_txt }}&url={{base_url()}}{{ share_link }}" target="_blank" class="boton-social">
                                    <span class="icon is-large"><i class="fa fa-twitter-square"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="logos-nosotros" class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-centered">
                    <a href="http://virtuagora.org">
                        <img src="{{base_url()}}/assets/img/logo-virtuagora-comic.svg" class="image logo"alt="">
                    </a>
                </div>
                <div class="column has-text-centered">
                    <a href="https://web.facebook.com/GabineteJoven">
                        <img src="{{base_url()}}/assets/img/gabinetejoven-comic.svg" class="image logo" alt="">
                    </a>
                </div>
                <div class="column has-text-centered">
                    <a href="http://www.santafe.gob.ar/index.php/web/content/view/full/114387/">
                        <img src="{{base_url()}}/assets/img/ingenia-logo5.svg" class="image logo" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<input name="userFacebook" type="hidden" value="{{user.facebook}}">
<input name="userName" type="hidden" value="{{user.name}}">
{% endblock %}
{% block javascript %}
<script id="comentario-js" type = "text/template">
{% include 'comentario-js.html.twig' %}
</script>
<script id="respuesta-js" type = "text/template">
{% include 'respuesta-js.html.twig' %}
</script>
<script>
    var urlReply = '{{path_for('comReplyPost', {'com' : 'COMMENTIDHERE'})}}';
    var urlComment = '{{path_for('proCommentPost', {'pro' : project.id})}}';
    var urlVote = '{{path_for('comVotePost', {'com' : 'COMMENTIDHERE'})}}';
    var urlBancar = '{{path_for('proVotePost', {'pro' : project.id})}}';
    var cantBancan = {{project.likes}};
    var userLogueado = {{user is not null ? 'true' : 'false'}};

    $('#toggle-calendario').click(function() {
        $('#calendario').toggle('1000');
        $("i", this).toggleClass("fa-angle-up fa-angle-down");
    });

    $('#toggle-presupuesto').click(function() {
        $('#presupuesto').toggle('1000');
        $("i", this).toggleClass("fa-angle-up fa-angle-down");
    });

    $('.responder').click(function() {
        var id = $(this).data('comentarioid');
        console.log(id);
        $("#responder-"+id).toggle('1000');
    });

    $('body').on('click','.votar-up',function(){
        if(!userLogueado){
            showModalInfo('Por favor, inicie sesion para votar');
            return false;
        }
        var comentarioid = $(this).data('comentarioid');
        var csrfKey = '{{csrf.key}}';
        var csrf = {};
        csrf[csrfKey] = '{{csrf.value}}';
        csrf['value'] = 1;
        var csrfData =  JSON.stringify(csrf);
        var finalUrl = urlVote.replace('COMMENTIDHERE',comentarioid);
        $.ajax({
            url : finalUrl,
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            data : csrfData,
            success: function(data, textStatus, jqXHR){
                //data - response from server
                $('.votar-up-' + comentarioid).addClass('is-hidden');
                $('.votar-down-' + comentarioid).addClass('is-hidden');
                $('.likes-' + comentarioid).html(data.likes);
                showModalSuccess(data.mensaje);
            },
            error: function (jqXHR, textStatus, errorThrown){
                showModalDanger('No se ha podido votar el comentario');
            }
        });
    });
    $('body').on('click','.votar-down',function(){
        if(!userLogueado){
            showModalInfo('Por favor, inicie sesion para votar');
            return false;
        }
        var comentarioid = $(this).data('comentarioid');
        var csrfKey = '{{csrf.key}}';
        var csrf = {};
        csrf[csrfKey] = '{{csrf.value}}';
        csrf['value'] = -1;
        var csrfData =  JSON.stringify(csrf);
        var finalUrl = urlVote.replace('COMMENTIDHERE',comentarioid);
        $.ajax({
            url : finalUrl,
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data : csrfData,
            success: function(data, textStatus, jqXHR){
                //data - response from server
                $('.votar-up-' + comentarioid).addClass('is-hidden');
                $('.votar-down-' + comentarioid).addClass('is-hidden');
                $('.likes-' + comentarioid).html(data.likes);
                showModalSuccess(data.mensaje);
            },
            error: function (jqXHR, textStatus, errorThrown){
                showModalDanger('No se ha podido votar el comentario');
            }
        });
    });
    $('body').on('click','.boton-bancar-proyecto',function(){
        if(!userLogueado){
            showModalInfo('Por favor, inicie sesion para votar');
            return false;
        }
        var csrfKey = '{{csrf.key}}';
        var csrf = {};
        csrf[csrfKey] = '{{csrf.value}}';
        var csrfData = JSON.stringify(csrf);
        $.ajax({
            url : urlBancar,
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data : csrfData,
            success: function(data, textStatus, jqXHR){
                //data - response from server
                if(data.vote){
                    showModalSuccess(data.mensaje);
                    cantBancan = cantBancan + 1;
                    $('.user-lo-banca').removeClass('is-hidden');
                    $('.contador-bancan').html(cantBancan)
                } else {
                    showModalInfo(data.mensaje);
                    cantBancan = cantBancan - 1;
                    $('.user-lo-banca').addClass('is-hidden');
                    $('.contador-bancan').html(cantBancan)
                }
            },
            error: function (jqXHR, textStatus, errorThrown){
                showModalDanger('Error al bancar el proyecto');
            }
        });
    });
    $( "form.comentario" ).submit(function( event ) {
        event.preventDefault();
        var $form = $(this);
        var formAction = $form.attr('action');
        var formType = $form.data('type');
        var formCommentId = $form.data('commentid');
        var formAction = $form.attr('action');
        var csrfKey = '{{csrf.key}}';
        var csrf = {};
        csrf[csrfKey] = '{{csrf.value}}';
        var csrfData = JSON.stringify($form.serializeArray());
        if(formType == "new-comment"){
            var finalUrl = urlComment;
            $('#crear-nuevo-comentario').closest('button[type=submit]').addClass('is-loading');
            csrf['content'] = $("textarea[name=content]").val();

        } else if(formType == "reply"){
            var finalUrl = urlReply.replace('COMMENTIDHERE',formCommentId);
            csrf['content'] = $("input[data-respondiendoid=" + formCommentId + "]").val();
        }
        var csrfData = JSON.stringify(csrf);
        $.ajax({
            url : finalUrl,
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            data : csrfData,
            success: function(data, textStatus, jqXHR){
                //data - response from server
                if(formType == "new-comment"){
                    var $nuevoComentario = $('#comentario-js').html();
                    $nuevoComentario = $nuevoComentario.replace(new RegExp('##ID##', 'g'), data.id )
                        .replace(new RegExp('##FACEBOOKID##', 'g'), $('input[name=userFacebook]').val())
                        .replace(new RegExp('##NOMBRE##', 'g'), $('input[name=userName]').val())
                        .replace(new RegExp('##FECHA##', 'g'), 'Hace un rato')
                        .replace(new RegExp('##LIKES##', 'g'), '0')
                        .replace(new RegExp('##COMENTARIO##', 'g'), $("textarea[name=content]").val());
                    $('#comentarios').prepend($nuevoComentario);
                    $('#crear-nuevo-comentario').slideToggle(200);
                } else if(formType == "reply"){
                    var $nuevoComentario = $('#respuesta-js').html();
                    $nuevoComentario =  $nuevoComentario.replace(new RegExp('##ID##', 'g'), data.id )
                        .replace(new RegExp('##FACEBOOKID##', 'g'), $('input[name=userFacebook]').val())
                        .replace(new RegExp('##NOMBRE##', 'g'), $('input[name=userName]').val())
                        .replace(new RegExp('##FECHA##', 'g'), 'Hace un rato')
                        .replace(new RegExp('##LIKES##', 'g'), '0')
                        .replace(new RegExp('##COMENTARIO##', 'g'), $("input[data-respondiendoid=" + formCommentId + "]").val());
                    $('#margin-respuestas-' + formCommentId).show();
//                    $('#responder-' + formCommentId).after($nuevoComentario);
                    $('#respuestas-' + formCommentId + '>.media-content').append($nuevoComentario);
                    $('#responder-' + formCommentId).toggle(200);
                }
                showModalSuccess(data.mensaje);
            },
            error: function (jqXHR, textStatus, errorThrown){
                showModalDanger('No se ha podido realizar el comentario');
            }
        });
    });
</script>
{% endblock %}
