{% set categoria = project.category %}
{% extends 'master-nofloat.html.twig' %}
{% block titulo %}{{project.name}} - Ingenia, bancamos tus ideas {% endblock %}
{% block opengraph %}
<meta property="og:url" content="{{ path_for('proViewGet', { 'pro': project.id }) }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{project.name}} - Ingenia, bancamos tus ideas" />
<meta property="og:description" content="{{project.description}}" />
{% project.has_image == true %}
<meta property="og:image" content="{{ base_url() }}/assets/img/project/{{project.id}}.jpg" />
{% else %}
<meta property="og:image" content="{{ base_url() }}/assets/img/sharer-{{project.category}}.png" />
{% endif %}
{% endblock %}
{% block body %}
<section id="proyecto" class="hero is-{{categoria}} is-small">
    <!-- Hero content: will be in the middle -->
    <div class="hero-head">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item">
                        <img src="{{base_url()}}/assets/img/ingenia-logo2.svg" alt="Logo">
                    </a>
                    {% if user is not null %}
                    <a href="javascript:void(0)" class="nav-item is-hidden-tablet">
                        <img class="image avatar" src="https://graph.facebook.com/v2.8/{{user.facebook}}/picture?type=normal" alt="{{user.name}}">
                    </a>
                    <a href="javascript:void(0)" class="nav-item is-hidden-tablet">
                        <img class="image" src="{{base_url()}}/assets/img/logout.svg" alt="">
                    </a>
                    {% else %}
                    <a href="{{facebook_login_link()}}" class="nav-item is-hidden-tablet">
                        <img class="image" src="{{base_url()}}/assets/img/login.svg" alt="">
                    </a>
                    {% endif %}
                    <a href="https://www.santafe.gob.ar" class="nav-item is-hidden-tablet">
                        <img src="{{base_url()}}/assets/img/santafelogo.svg" alt="">
                    </a>
                </div>
                <div class="nav-right is-hidden-mobile">
                   {% if user is not null %}
                    <a href="javascript:void(0)" class="nav-item">
                        <img class="image avatar" src="https://graph.facebook.com/v2.8/{{user.facebook}}/picture?type=normal" alt="{{user.name}}">
                    </a>
                    <a href="javascript:void(0)" class="nav-item">
                        <img class="image" src="{{base_url()}}/assets/img/logout.svg" alt="">
                    </a>
                    {% else %}
                    <a href="{{facebook_login_link()}}" class="nav-item">
                        <img class="image" src="{{base_url()}}/assets/img/login.svg" alt="">
                    </a>
                    {% endif %}
                    <a href="https://www.santafe.gob.ar" class="nav-item is-active">
                        <img src="{{base_url()}}/assets/img/santafelogo.svg" alt="">
                    </a>
                </div>
            </div>
        </header>
    </div>
    <div id="proyecto-datos" class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="has-text-centered">
                        <h1 class="title is-5 is-white is-300"><span class="tag is-white">{{category_name(project.category)}}</span>
                        <span class="icon is-middle">&nbsp;&nbsp;&nbsp;<i class="fa fa-comments"></i></span>&nbsp;&nbsp;{{project.comments|lenght}} comentarios</h1>
                        <h1 class="title titulo-proyecto is-1 is-500 is-raleway is-white">{{project.name}}</h1>

                    </div>
                    <div class="box content">
                        <div class="columns">
                            <div class="column is-half is-offset-one-quarter has-text-centered">
                               {% if project.has_image %}
                                <figure class="imagen-proyecto image is-16by9" style="background-image: url({{base_url()}}/assets/img/project/{{project.id}}.jpg)">
                                </figure>
                                {% else %}
                                <figure class="imagen-proyecto image is-16by9" style="background-image: url({{base_url()}}/assets/img/placeholder-{{project.category}}.png)">
                                </figure>
                                {% endif %}
                                <h1 class="subtitle is-5 is-raleway has-tect-centered">Presentado por "{{project.group}}"</h1>
                            </div>
                        </div>
                        <h1 class="title is-3 is-raleway is-800">Resumen del proyecto</h1>
                        <p>
                            {{project.description}}
                        </p>
                        <h1 class="title is-3 is-raleway is-800">Fundamentación</h1>
                        <p>
                            {{project.foundation}}
                        </p>
                    </div>

                    <div class="tile is-ancestor">
                        <div class="tile is-vertical is-12">
                            <div class="tile">
                                <div class="tile is-parent">
                                    <div class="tile is-child card">
                                        <header class="card-header">
                                            <p class="card-header-title title is-marginless is-5 is-300">
                                                Calendario de actividades
                                            </p>
                                            <a id="toggle-calendario" class="card-header-icon">
                                                <span class="icon">
                                                    <i class="fa fa-angle-down"></i>
                                                </span>
                                            </a>
                                        </header>
                                        <div id="calendario" class="card-content" style="display:none">
                                            <div class="content">
                                                <table class="table is-striped is-narrow is-marginless">
                                                    <thead>
                                                        <tr>
                                                        <tr>
                                                            <th>Fecha</th>
                                                            <th>Actividad</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th>10/03</th>
                                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quibusdam doloremque at repellendus aliquid perferendis consequatur quidem accusantium nostrum ad facere, quia.?</td>
                                                        </tr>
                                                        <tr>
                                                            <th>10/03</th>
                                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quibusdam doloremque at repellendus aliquid perferendis consequatur quidem accusantium nostrum ad facere, quia.?</td>
                                                        </tr>
                                                        <tr>
                                                            <th>10/03</th>
                                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quibusdam doloremque at repellendus aliquid perferendis consequatur quidem accusantium nostrum ad facere, quia.?</td>
                                                        </tr>
                                                        <tr>
                                                            <th>10/03</th>
                                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quibusdam doloremque at repellendus aliquid perferendis consequatur quidem accusantium nostrum ad facere, quia.?</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tile">
                                <div class="tile is-parent">
                                    <div class="tile is-child card">
                                        <header class="card-header">
                                            <p class="card-header-title title is-marginless is-5 is-300">
                                                Descripción del presupuesto
                                            </p>
                                            <a id="toggle-presupuesto" class="card-header-icon">
                                                <span class="icon">
                                                    <i class="fa fa-angle-down"></i>
                                                </span>
                                            </a>
                                        </header>
                                        <div id="presupuesto" class="card-content" style="display:none">
                                            <div class="content">
                                                <table class="table is-striped is-narrow is-marginless">
                                                    <thead>
                                                        <tr>
                                                        <tr>
                                                            <th>Rubro</th>
                                                            <th>Descripcion</th>
                                                            <th>Monto estimado</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th>Lorem ipsum dolor sit amet</th>
                                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quibusdam doloremque at repellendus aliquid perferendis consequatur quidem accusantium nostrum ad facere, quia.?</td>
                                                            <td>$2500</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Lorem ipsum dolor sit amet</th>
                                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quibusdam doloremque at repellendus aliquid perferendis consequatur quidem accusantium nostrum ad facere, quia.?</td>
                                                            <td>$2500</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Lorem ipsum dolor sit amet</th>
                                                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quibusdam doloremque at repellendus aliquid perferendis consequatur quidem accusantium nostrum ad facere, quia.?</td>
                                                            <td>$2500</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tile">
                                <div class="tile is-parent is-6">
                                    <article class="tile is-child notification is-warning has-text-centered">
                                        <p class="subtitle is-300">Presupuesto</p>
                                        <p class="title is-2 is-800">${{project.total_budget}}</p>
                                    </article>
                                </div>
                                <div class="tile is-parent">
                                    <article class="tile is-child notification is-white has-text-centered">
                                        <p class="subtitle is-300">Lugar de implementación</p>
                                        <p class="title is-800">{{project.place}}</p>
                                    </article>
                                </div>
                            </div>
                            <div class="tile">
                                <div class="tile is-parent is-4">
                                    <article class="tile is-child notification is-white has-text-centered">
                                        <p class="subtitle is-300">¿El proyecto ya está en ejecución o funcionamiento?</p>
                                        <p class="title is-800 ">{{project.execution != null ? 'SI' : 'NO'}}</p>
                                    </article>
                                </div>
                                {% if project.execution != null %}
                                <div class="tile is-parent">
                                    <article class="tile is-child notification is-white has-text-centered">
                                        <p class="subtitle is-300">¿De qué forma, como y donde se está ejecutando?</p>
                                        <p>{{project.execution}}</p>
                                    </article>
                                </div>
                                {% endif %}
                            </div>
                            <div class="tile">
                                <div class="tile is-parent">
                                    <article class="tile is-child notification is-white has-text-centered">
                                        <p class="subtitle is-300">¿Las actividades se realizarán en coordinación con otras organizaciones y/o instituciones?</p>
                                        <p class="title is-3"><b>{{project.organization != null ? 'SI' : 'NO'}}</b> - Organización "{{project.organization}}"</p>
                                    </article>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="notification has-text-centered is-warning">
                        <p class="subtitle is-4 is-300">¡Participá comentando y aportando nuevas ideas!<p>
                        <a href="#" class="button is-dark is-fullwidth is-outlined is-large is-800">Inicia sesión</a>
                    </div>
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="https://pbs.twimg.com/profile_images/821237983219224576/GyC2dS0J.jpg" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content is-small">
                                    <strong>Guillermo Croppi</strong>
                                    <div class="field">
                                        <p class="control">
                                            <textarea class="textarea is-small" placeholder="Textarea"></textarea>
                                        </p>
                                    </div>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a class="level-item button is-primary is-small">
                                            <span class="icon is-small"><i class="fa fa-send"></i></span>&nbsp;&nbsp;Enviar
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </article>
                    </div>
                    <div id="comentarios">
                        {% for comentarioid in 0..10 %}
                        {% include 'comentario.html.twig' %}
                        {% endfor %}
                    </div>
                    <br>
                    <a href="javascript:void(0)" id="mas-comentarios" class="button is-large is-fullwidth is-dark is-outlined is-inverted">Cargar mas comentarios</a>
                    <br>
                    <a href="javascript:void(0)" id="fin-comentarios" class="button is-large is-disabled is-fullwidth is-white">Fin de los comentarios</a>
                </div>
                <div class="column is-narrow">
                    <div class="boxes" style="width: 150px;">
                        <div class="child has-text-centered" style="width: 150px;">

                            <div class="">
                                <a href="#" class="boton-bancar-tablet">
                                    {% include 'muscle.html.twig' %}
                                </a>
                            </div>
                            <div class="">
                                <h1 class="title is-600 is-white">1500</h1>
                                <h1 class="subtitle is-raleway is-white">bancan esta idea</h1>
                                <span class="tag is-white">Vos tambien!&nbsp;<span class="icon is-small"><i class="fa fa-smile-o fa-fw"></i></span></span>
                                <hr>
                                <h1 class="subtitle  is-white is-5 is-600">¡Corré la voz!</h1>
                            </div>
                            <div>
                                <a href="" class="boton-social">
                                    <span class="icon is-large"><i class="fa fa-facebook-square"></i></span>
                                </a>
                            </div>
                            <div>
                                <a href="" class="boton-social">
                                    <span class="icon is-large"><i class="fa fa-twitter-square"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block javascript %}
<script>


    $('#toggle-calendario').click(function() {
        $('#calendario').toggle('1000');
        $("i", this).toggleClass("fa-angle-up fa-angle-down");
    });

    $('#toggle-presupuesto').click(function() {
        $('#presupuesto').toggle('1000');
        $("i", this).toggleClass("fa-angle-up fa-angle-down");
    });

    $('.responder').click(function() {
        var id = $(this).data('comentarioid');
        console.log(id);
        $("#responder-"+id).toggle('1000');
    });


</script>
{% endblock %}
