<article id="respuesta-{{reply.id}}" class="media respuesta">
    <div class="media-left">
        <figure class="image is-32x32">
            <img src="https://graph.facebook.com/v2.8/{{reply.user.facebook}}/picture?type=normal" alt="{{user.name}}">
        </figure>
    </div>
    <div class="media-content">
        <div class="content is-small">
            <p>
                <strong>{{ reply.user.id == project.user.id ? '[&#9733;] ' : ''}}{{reply.user.name}}</strong> <small>{{reply.created_at|date("Y-m-d")}} - &hearts; <span id="likes-{{reply.id}}">{{reply.votes}}</span></small>
                <br>
                {{reply.content}}
            </p>
        </div>
        <nav class="level is-mobile is-hidden-tablet">
            <div class="level-left">
                <a href="javascript:void(0)" data-comentarioid="{{reply.id}}" class="level-item votar-down votar-down-{{reply.id}}">
                    <span class="icon is-small"><i class="fa fa-thumbs-down"></i></span>
                </a>
                <a href="javascript:void(0)" data-comentarioid="{{reply.id}}" class="level-item votar-up votar-up-{{reply.id}}">
                    <span class="icon is-small"><i class="fa fa-heart"></i></span>
                </a>
            </div>
        </nav>
    </div>
    <div class="media-right is-hidden-mobile">
        <nav class="level is-mobile">
            <div class="level-left">
                <a href="javascript:void(0)" data-comentarioid="{{reply.id}}" class="level-item votar-down votar-down-{{reply.id}}">
                    <span class="icon is-small"><i class="fa fa-thumbs-down"></i></span>
                </a>
                <a href="javascript:void(0)" data-comentarioid="{{reply.id}}" class="level-item votar-up votar-up-{{reply.id}}">
                    <span class="icon is-small"><i class="fa fa-heart"></i></span>
                </a>
            </div>
        </nav>
    </div>
</article>
