{% extends 'master.html.twig' %}

{% block body %}
<section id="registrate" class="hero is-primary is-wizard is-fullheight">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
                <div class="columns is-multiline">
                    <div class="column is-half is-offset-one-quarter">
                        <a href="{{path_for('homeGet')}}"><img class="logo-vg" src="{{base_url()}}/assets/img/v-g.svg" alt=""></a>
                        <h4 class="title is-4 is-raleway is-600">Subí una imagen de tu proyecto</h4>
                        <h4 class="subtitle is-5 is-300">La misma sera utilizada para ser identificado y tambien para ser compartirla en las redes sociales. <small>Dimensiones recomendadas: 800x565 px</small></h4>
                    </div>
                    <div class="column is-half is-offset-one-quarter">
                        <form action="{{path_for('proSetImgPost',{ 'pro': project.id })}}" method="POST" enctype="multipart/form-data">
                            <div id="subir-imagen" class="box">
                                <input name="imagen" type="file" hidden>
                                <input id="csrf_name" type="hidden" name="{{csrf.key}}" value="{{csrf.value}}">
                                <div class="columns">
                                    <div class="column is-half is-offset-one-quarter">
                                        <a id="upload-file" href="#">
                                            <div class="preview-box">
                                               {% if project.has_image %}
                                                <figure id="imagen-box" class="image preview is-16by9" style="background-image: url({{base_url()}}/img/project/{{project.id}}.jpg)">
                                                </figure>
                                                {% else %}
                                                       <figure id="imagen-box" class="image preview is-16by9" style="background-image: url({{base_url()}}/assets/img/upload-pic.svg)">
                                                </figure>
                                                        {% endif %}
                                            </div>
                                        </a>
                                        <img src="{{base_url()}}/assets/img/preview-proyecto.svg" class="is-hidden-mobile" alt="">
                                    </div>
                                </div>
                                <button type="submit" class="button is-primary"><span class="icon is-small"><i class="fa fa-send"></i></span>&nbsp;&nbsp;Guardar y continuar</button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    <li><a><img src="{{base_url()}}/assets/img/logo-virtuagora.svg" alt=""></a></li>
                    <li><a><img src="{{base_url()}}/assets/img/gabinetejoven.svg" alt=""></a></li>
                    <li><a><img src="{{base_url()}}/assets/img/ingenia-logo2.svg" alt=""></a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>
{% endblock %}
{% block javascript %}
<script>
    $('#upload-file').click(function(){
        $('input[type=file]').click();
        return false;
    });

    $("input[type=file]").change(function(){
        readURL(this);
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imagen-box').css('background-image','url('+e.target.result+')');
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock%}
